* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1b1c1f;
}

.navigation {
    background-color: #323335;
    border-radius: 24px;
    width: 416px;
    justify-content: center;
}

@media(max-width: 991px) {
    .menu-bg {
        background-color: #323335;
    }
    .menu-btn {
        background-color: #fff;
    }
    .nav-link:nth-child(2) {
        margin: 0 !important;
    }
}